/* src/App.css */

/* Empuja el contenido principal debajo del Navbar fijo para que no lo tape */
.margin-superior-main {
  margin-top: 85px; 
  padding: 0 15px;
}

/* Color personalizado oscuro para tu barra de navegación */
.color-navbar {
  background-color: #1a1a1a !important; 
}

/* Color de acento para el texto o íconos cuando se seleccionan o se hace hover */
.color-texto-marca {
  color: #0dcaf0 !important; 
}